body {
	font-weight: 400 !important;
}
.FooterDashboard {
	background: #2367B9;
	padding: 10px !important;
	color: #fff;
	text-align: center;
	margin-top: 20px;
}
.container a:hover{
	color: red !important; 
}
#team {
	border: 1px solid #8a8787 !important;
}
.team-block {
	padding-top: 0px !important;
}
.img-circle {
	height: 40px !important;
}
.nav .dropdown.dropdown-user {
	margin-top: 22px !important;
}
.nav.navbar-nav.pull-right {
	padding-right: 35px !important;
}
.dropdown-toggle {
	color: black !important;
	font-size: 15px !important;
}
.dropdown-menu li > a {
	color: black !important;
	border-top: 1px solid #8a8787;
}
.row {
	width:100%;
	margin:0px;
}
.team-block h4 {
	margin-bottom: 30px !important;
}
#hr {
	width: 100%;
	background: #2367B9;
	height: 20px;
}
.logo-default {
	padding-left: 30px;
}
.center-dashboard {
	text-align: center;
}
.kruglist {
	border:1px solid rgba(89, 81, 81, 0.46);
	height: auto;
	display: inline-block;
	/*padding: 0px 10px 5px 10px;*/
	width: 31%;
	text-align: center;
	font-size: 15px;
	margin-top: 14px;
}
#nameUser {
    width: 100%;
    border-top: 1px solid #B3AFAF;
    border-bottom: 1px solid #B3AFAF;
    
}
#nameUser a {
    color: #333333 !important;
    text-decoration: none !important;
    line-height: 30px;
    font-size: 16px;
}
.col-md-4.item {
	padding-left: 6px !important;
	padding-right: 6px !important;
}
.dash_krug{
	border:1px solid #B3AFAF;
}
.krugimg {
	height: 150px;
	width: 100%;
}
body.page-boxed {
	background-color: white !important;
}
.page-sidebar-ul {
	list-style-type: none;
	border-bottom: 1px solid #8a8787;
	padding: 13px;
	margin-bottom: 0px;
}
.updateFooter {
	text-align: center;
	padding-top: 20px;
}
.updateFooter a {
	text-decoration: none;
	color: #2367b9;
}
.active-ul a {
	text-shadow: none;
	color: #333333 !important;
	font-size: 14px;
	text-decoration: none !important;
	font-weight: 400 !important
}
.active-ul a:hover {
	color: #006599 !important;
}
.img-update{
	height: 70px;
	width: 70px;
}
.dashboard-left {
	padding-top: 44px;
}
.dashboard-left{
	padding-left: 55px;
}
.dashboard-right{
	padding-right: 55px;
	padding-top: 44px;
}
.center-dashboard{
	padding-top: 44px;
	/*padding-left: 20px;
	padding-right: 20px;*/
}
.sidebar2 {
	border: 1px solid #8a8787;
}
#profile {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 4px;
	color: #013c83e6;
}
.update {
	font-size: 10px;
	border-bottom: 1px solid #8a8787;
	text-align: center;
}
.btn.new {
	border: 1px solid #333333;
	padding: 3px 6px 2px 6px;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 5px;
}
.social {
	padding: 7px;
	font-size: 10px;
}
.btn.blue.fb {
	background: #133e78;
	width: 100%;
}
.btn.blue.add {
	background: #133e78;
	width: 100%;
}
.btn.blue.friend {
	background: #07a763;
	width: 100%;
}
.btn.blue.pending {
	background: #e60b0bcc;
	width: 100%;
}
.btn.blue.remove{
	background: #e60b0bcc;
	width: 100%;
}
.btn.blue.accept {
	background: #07a763 !important;
	font-size: 13px !important;
	width: 47%;
	float: left;
	border-radius: 0px 10px 0px 0px !important;
	padding: 4px !important;
}
.btn.blue.reject {
	background: #f13e46 !important;
	font-size: 13px !important;
	width: 47%;
	border-radius: 10px 0px 0px 0px !important;
	padding: 4px !important;
}
.profile-userbuttons button {
	padding: 6px 10px !important;
	font-size: 10px !important;
}
.kruglist a {
	text-decoration: none;
	color: black;
}

.btn.blue.link {
	width: 100%;
	background: #006599;
}
.right-dot{
	border: 1px solid #8a8787;
}
#mutual {
	font-size: 10px !important;
	text-align: center;
	padding: 10px 0px 0px 0px !important;
	height: 30px;
}

#countfriend {
	text-align: center;
	color: red;
	margin-left: 1%;
	font-size: 14px;
}
#countfriendrequest {
	text-align: center;
	color: red;
	margin-left: 1%;
	font-size: 14px;
}
@media (max-width: 640px){
	.col-md-3.col-sm-3.dashboard-left {
	display: none;
}
.dashboard-right{
	padding-right: 20px;
}
.page-logo {
	text-align: center;
}
#nameUser a {
    font-size: 11px;
    font-weight: 400;
}
.profile-userbuttons button{
	font-size: 8px !important;
	padding: 6px 6px !important;
}
.profile-userbuttons i{
	font-size: 10px !important;
}
.btn.blue.accept {
	width: 100%;
	float: none;
	border-radius: 50px !important;
	margin-bottom: 5px;
}
.btn.blue.reject {
	width: 100%;
	margin-left: 0px !important;
	border-radius: 50px !important;
}
}
@media (min-width:641px) and (max-width: 1024px) {

.dashboard-left{
	padding-left: 20px;
}
.btn.blue.reject {
	margin-left: 3px; 
}
#nameUser a {
    font-size: 11px;
    font-weight: 400;
}
.dashboard-right{
	padding-right: 20px;
}
.col-md-6 {
	padding-left: 10px;
	padding-right: 10px;
}
.btn.blue.fb {
	font-size: 12px;
}
.btn.blue.link {
	font-size: 12px;
}

}
