

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.group_profile{
    text-align: left;
    border: 1px solid #8a8787 !important; 
    padding: 0px !important; 
}
#mutual a {
  color: black;
  text-decoration: none;
}
.group_font a{
  font-size: 14px !important;
}
.dash_krug.group_font {
  text-align: center;
}
.groupimg{
  width: 50%;
}
.profile-userbuttons.group_bottom .btn {
  border: 1px solid #fff;
}
.profile-userbuttons.group_bottom{
  margin-top: 0px;
}
.profile-userbuttons.group_buttons {
  text-align: right !important;
  margin-right: 10px;
}
.fb-profile-text{
  margin-bottom: 10px;
}
.fb-profile-text>h1{
    font-weight: 400;
    font-size:22px;
    margin-top: 0px !important;
    float: left;
}
.section_padding{
    border-top: 1px solid #8a8787;
}
.col-sm-4.section_padding{
    padding: 0px;
}
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 80px;
    z-index: 9;
    width: 20%; 
    border-radius: 50% !important;
    background: #3f3e3e99;
    border-color: #3f3e3e99;
    padding: 0px;

}
.section_padding .panel.panel-default{
    border-left: 1px solid #8a8787;
    border-bottom: : 0px !important;
    margin-bottom: 0px !important;
}
.section_last{
    padding: 0px; 
}
.col-sm-8.section_padding {
    padding-right: 0px;
}
/***
Bootstrap Line Tabs by @keenthemes
A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
Licensed under MIT
***/

/* Tabs panel */
.tabbable-panel {
  border-right:0px solid #3f3e3e99;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #8a8787;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #8a8787;
  padding-bottom: 15px;
}

.menu_title {
    padding: 15px 5px;
    border-bottom: 1px solid #8a8787;
    margin: 0 5px;
}
.label-info {
    background-color: #127cd3 !important;
}
.section_padding .nav > li > a {
    font-size: 13px !important;
    padding: 10px 8px !important;
}
@media (max-width:800px){
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:12px;
}
.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}